body{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    width: 100%;
    background: #fff;
}
input {
    font-family: inherit;
}
.main{
    margin: auto;
    width: 700px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}